# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
Terraform/keys/jenkins-key.pem
terraform.tfvars
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Terraform Plans
*.tfplan

# Node
node_modules/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Environment
.env
.env.*

# Build
dist/
build/

# Coverage
coverage/

# Ansible
*.retry

# Kubernetes
*.bak

# Mac
.DS_Store

# AWS CLI
playbooks/aws/
playbooks/awscliv2.zip

# Kubectl binary
playbooks/kubectl

# Trivy binary
playbooks/bin/trivy

 Ansible/playbooks/aws/
 Ansible/playbooks/bin/